.custom-form{
    position: relative;
    z-index: 1;
    top: 64%;
    left: 15%;
    transform: translate(-15%, -50%);
}
.custom-form-list{
    position: relative;
    z-index: 1;
    top: 80%;
    left: 15%;
    transform: translate(-15%, -50%);
}
.custom-shadow{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 12px 20px 4px;
}